#clock-container {
    background: url("https://c0.wallpaperflare.com/preview/335/291/713/minimal-pastel-iphone-wallpaper-pink.jpg") no-repeat;
    border-radius: 10px;
    display: inline-block;
    background-size: contain;
    height: 979px;
    width: 652px;
    text-align: center;
}

#clock {
    border: 1px solid black;
}

div {
    text-align: center;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: arial;
    letter-spacing: 2px;
}

#date-container {
    height: 100%;
    width: 100%;
}

#time {
    font-size: 45px;
}

#bg-img {
    z-index: -1;
    position: absolute;
}
