body {
    background-color: rgba(0,0,0,0.5);
}

#clock-container {
    background: url("https://c0.wallpaperflare.com/preview/335/291/713/minimal-pastel-iphone-wallpaper-pink.jpg") no-repeat;
    border-radius: 10px;
    background-size: contain;
    height: 489.5px;
    width: 326px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0,0,0,0.99);
}

#clock {
    border: 1px solid black;
}

div {
    text-align: center;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: arial;
    letter-spacing: 2px;
}

#date-container {
    height: 100%;
    width: 100%;
}

#time {
    font-size: 45px;
}

#bg-img {
    z-index: -1;
    position: absolute;
}
